* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
  	-khtml-user-drag: none;
  	-moz-user-drag: none;
  	-o-user-drag: none;
}

#window {
	position: absolute;
	width: 1500px;
	height: 900px;
	overflow: hidden;
	top: 10%;
	left: 11%;
	background-color: rgb(0, 0, 0);
	border-radius: 4%;
}

#title {
	position: absolute;
	font-size: 100px;
	top: 15px;
	left: 485px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(255, 255, 255);
}

#text {
	position: absolute;
	font-size: 25px;
	top: 20px;
	left: 250px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(211, 211, 211);
}

#requirements {
	position: absolute;
	font-size: 50px;
	top: 20px;
	left: 500px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(211, 211, 211);
}

#items {
	position: absolute;
	font-size: 35px;
	color: rgba(255, 0, 0, 0.733);
	top: 120px;
	left: 550px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(211, 211, 211);
}

#price {
	position: absolute;
	font-size: 50px;
	top: 300px;
	left: 500px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(211, 211, 211);
}

#pr {
	position: absolute;
	font-size: 35px;
	color: rgba(255, 0, 0, 0.733);
	top: 370px;
	left: 550px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(211, 211, 211);
}

#change-btn-knuckle {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 20%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-knuckle:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}

#change-btn-appistol {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 33%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-appistol:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}

#change-btn-smg {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 46%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-smg:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}


#change-btn-sawnoffshotgun {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 59%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-sawnoffshotgun:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}


#change-btn-carbinerifle_mk2 {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 72%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-carbinerifle_mk2:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}

#change-btn-gusenberg {
	position: absolute;
	width: 200px;
	height: 100px;
	overflow: hidden;
	top: 85%;
	left: 4%;
	background-color: rgb(31, 31, 31);
	border-radius: 4%;
}

#change-btn-gusenberg:hover {
	background-color: rgb(255, 255, 255);
	opacity: 1.0;
	transform: scale(1.02);
}

#rnb-box {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-knuckle {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-appistol {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-smg {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-sawnoffshotgun {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-carbinerifle_mk2 {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

#rnb-box-gusenberg {
	position: absolute;
	width: 1145px;
	height: 700px;
	top: 20%;
	left: 22%;
	background-color: rgb(24, 24, 24);
	border-radius: 4%;
}

.craft-btn {
	position: absolute;
	width: 150px;
	height: 100px;
	top: 70%;
	left: 22%;
	color: white;
	background-color: black;
	border-radius: 4%;
}

.craft-btn:hover {
	color: red;
	opacity: 1.0;
	transform: scale(1.02);
}

.buy-btn {
	position: absolute;
	width: 150px;
	height: 100px;
	top: 70%;
	left: 50%;
	color: white;
	background-color: black;
	border-radius: 4%;
}

.buy-btn:hover {
	color: red;
	opacity: 1.0;
	transform: scale(1.02);
}